<h3 class='title'><%= @movie_facade.movie_details_show.title %></h3>
<%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>
<%= button_to "Create Viewing Party for #{@movie_facade.movie_details_show.title}", new_user_movie_viewing_party_path(@user, @movie_facade.movie_details_show.id), method: :get %>

<h5 class='vote_average'>Vote: <%= @movie_facade.movie_details_show.vote_average %></h5>
<h5 class='runtime'>Runtime: <%= @movie_facade.movie_details_show.runtime %></h5>
<h5 class='genre'>Genre: <%= @movie_facade.movie_details_show.genres.join(', ') %></h5>

<br>

<h4>Summary</h4></br>
<p class='summary'><%= @movie_facade.movie_details_show.summary %></p>

<h4 class='cast'>Cast</h4></br>
<% @credit_facade.movie_credits_show.cast.each do |cast_member| %>
  <%= "Actor: #{cast_member[0]}, Character: #{cast_member[1]}" %></br>
<% end %>

<div class='review-info'>
  <h4><%= @review_facade.movie_review_show.review_count %> Review(s)</h4>
  <% @review_facade.movie_review_show.review_info.each do |author, review| %>
    <h6 class='author'><%= author %></h6>
    <p class='content'><%= review %></p>
  <% end %>
</div>